// .from-item {
//   margin-bottom: 20px;
// }

// .form-group {
//   margin-bottom: 15px !important;
// }

// .form-control {
//   display: block;
// }

.input-icon {
  float: right;
  margin-right: 10px;
  margin-top: -26px;
  position: relative;
  z-index: 2;
  color: #25B825;
}